.m-b-20px {
  margin-bottom: 20px;
}

.m-l-20px {
  margin-left: 20px;
}

.editor {
  p {
    margin: 0;
  }

  h3 {
    margin-bottom: 0;
  }

  &-building {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
  }
}