<!doctype html>
<div class="container editor">
  <h2>Edytor danych dla pliku base-search-data.json - dla Algolii</h2>
  <button type="button" class="btn btn-warning m-t-10px m-b-20px"
          ng-click="saveJsonFile()">
    Zapisz
  </button>
  <form>
    <div class="editor-building m-b-20px" ng-repeat="building in buildings"> 
      <h2>Dane budynku:</h2>
      <div class="form-group">
        <label>Nazwa budynku: </label>
        <input class="form-control" type="text" ng-model="building.name" />
      </div>
      
      <div class="form-group">
        <label>Campus: </label>
        <input class="form-control" type="text" ng-model="building.campus" />
      </div>
      
      <div class="form-group">
        <label>Aliasy: </label>
        <input class="form-control" type="text" ng-model="building.aliasesString" />
        <p>Dodaj aliasy budynku po przecinku, np. Alias1, Alias2, Alias3</p>
      </div>
            
      <div>
        <h3>Sale:</h3>
        <div ng-if="building.rooms.length > 0">
          <div class="m-l-20px m-t-10px floor-items" ng-repeat="room in building.rooms">
            <div class="form-group">
              <label>Nazwa sali:</label>
              <input class="form-control" type="text" ng-model="room.name" />
            </div>
            <div class="form-group">
              <label>Aliasy:</label>
              <input class="form-control" type="text" ng-model="room.aliasesString" />
              <p>Dodaj aliasy sali po przecinku, np. Alias1, Alias2, Alias3</p>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-success m-t-10px" 
          ng-click="addRoom(building)">
          Dodaj salę
        </button>
      </div>
    </div>
  </form>
</div>
