.side-nav {
  width: 300px;
  box-sizing: border-box;
  padding: 25px 50px;
  background-color: #f7f7f7;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;


  &--close-icon {
    text-decoration: none;
    float: right;
  }

  &--link {
    text-decoration: none;
    color: #515151;
    margin: 20px 0;
    display: block;
    font-size: 16px;

    &.active {

    }
  }

  &--section-header {
    color: #cfcfcf;
    font-size: 12px;
    text-transform: uppercase;
    margin: 20px 0;
  }

  &--section-header {

  }

}