<!DOCTYPE html>
<div class="side-nav">
  <button class="side-nav--close-icon" ng-click="sidenavToggle()"></button>

  <h4 class="side-nav--section-header">Przejdź do</h4>
  <a ui-sref="map({ campus: id })" class="side-nav--link" ng-repeat="(id, campus) in campuses" ng-bind="campus.name"></a>

  <h4 class="side-nav--section-header">Informacje</h4>
  <a href="#!" class="side-nav--link">O aplikacji</a>
  <a href="#!" class="side-nav--link">Zespół</a>
  <a href="#!" class="side-nav--link">AKAI</a>

  <h4 class="side-nav--section-header">Social Media</h4>
  <a href="https://www.facebook.com/akai.pp/" class="side-nav--social-icon">Facebook</a>
  <a href="https://twitter.com/akai_pp?lang=pl" class="side-nav--social-icon">Twitter</a>
  <a href="https://github.com/akai-org" class="side-nav--social-icon">Github</a>

</div>
