.top-bar {
  width: 100%;
  background-color: $white;
  display: flex;
  
  &--menu {
    display: inline-block;
    vertical-align: middle;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;

    &-icon {
      fill: $light-grey;
      height: 30px;
      width: 30px;
      padding: 12px 20px;
    }
  }

  &--searchbox--input {
    margin: 0;
    padding: 0 16px;
    width: 300px;
    height: 44px;
    margin: 10px 0;
    border: none;
    background-color: $white;
    font-size: initial;
    color: $mid-grey;
    vertical-align: bottom;
    outline: none;

    &:focus {
      border-bottom: 1px solid blue;
    } 
  }

  &--searchbox--button {
    background: none;
    border: none;
    color: #aeaeae;
  }
}

.landing-page--menu {
  position: absolute;

  &-icon {
    fill: $white;
  }
}

.autocomplete--results {
  position: absolute;
  z-index: 1000;
  background: #f7f7f7;
}