// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

// Colors
$white: #f7f7f7;
$light-grey: #a5a5a5;
$mid-grey: #494949;
$dark-grey: #393939;
$primary-blue: #2e8bff;
$primary-blue-dark: darken($primary-blue, 10%);

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.btn {
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 1em;
  border: none;
  cursor: pointer;
  outline: none;

  &__blue {
    background-color: $primary-blue;
    color: white;

    &:hover {
      background-color: $primary-blue-dark;
      color: $white;
    }

    &:active {
      background-color: darken($primary-blue-dark, 10%);
      color: $white;
    }
  }

  &__big {
    width: 80%;
    margin: 0 10%;
  }
}
