// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

// Colors
$white: #f3f3f3;
$mid-grey: #494949;
$primary-blue: #2e8bff;

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
