#map {
   width: 100%;
   height: 100vh;
}

.building--panel {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 300px;
  height: 200px;
  background-color: white;
  border: 1px solid black;
  opacity: 0;
  z-index: 10;
  padding: 5px 5px 10px 10px;
  color: #515151;

  &--close-icon {
    font-family: "FontAwesome";
    text-decoration: none;
    float: right;
    cursor: pointer;

    &:after {
      content: "\f00d";
    }
  }
}

.show {
  opacity: 1;
}
