body {
  margin: 0;
  // max-height: 100%;
  // overflow: hidden;
}

.landing {
  height: 100vh;
  text-align: center;
  background-image: url('../img/background.jpg');
  background-position: center;
  background-size: cover;

  &--container {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &--title {
    font-size: 2.2em;
    font-weight: 600;
    color: $white;
  }

  &--searchbox {
    display: block;
    margin: 20px 0;
    border-radius: 4px;
    box-shadow: 0px 3px 15px #222;
    font-size: 0;

    &--input {
      margin: 0;
      padding: 0 16px;
      width: 300px;
      height: 44px;
      border: none;
      border-radius: 4px 0 0 4px;
      background-color: $white;
      font-size: initial;
      color: $mid-grey;
      vertical-align: bottom;
    }

    &--button {
      margin-left: 0;
      padding: 0;
      height: 44px;
      width: 44px;
      border: none;
      border-radius: 0 4px 4px 0;
      background-color: $primary-blue;
      cursor: pointer;

      &--icon {
        fill: $white;
        width: 28px;
        height: 28px;
        margin-left: 4px;
        margin-top: 2px;
      }
    }
  }

  &--links {
    text-align: center;
  }

  &--link {
    font-size: 1.2em;
    text-decoration: none;
    color: $white;

    .strong {
      font-weight: 700;
    }
  }

  &--autocomplete {
    position: fixed;
    width: 376px;
    background-color: $white;
    border: none;
    border-radius: 4px;
    top: 132px;
  }
}

.autocomplete {
  &--results {
    border-radius: 4px;
    position: relative;
    max-height: 150px;
    overflow: auto;
    color: $mid-grey;
    text-align: left;
  }

  &--result {
    margin: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    border-bottom: 1px solid $light-grey;

    &:last-child {
      border: none;
    }

    &:hover {
      color: black;
      background-color: lighten($light-grey, 25%);
    }
  }
}
